$primary-color : #fd951f;
$second-color : rgba(47, 130, 240, 0.897);
$third-color : #333;
$fourth-color: #777;

$font-weight:(
    "regular":400,
    "medium":500,
    "bold":700
);

$font-size: (
    "10": 1.0em,
    "12":1.2em,
    "14": 1.4em,
    "16": 1.6em,
    "22": 2.2em,
    "24":2.4em,
    "36": 3.6em
); 