{% extends 'layout.njk' %}

{% block content %}

    <section class="ads container">
    <h2> Meus Anúncios </h2>

        <div class="items">

            {% for product in products %}
                <div class="product">

                    <div class="image" style="background-image: url({{product.img}})"></div>
                    <div class="info">
                        <div class="name">{{product.name}}</div>
                        <div class="price">{{product.FormatPrice}}</div>
                        <div class="published">
                            Publicado em
                            {{product.published.day}}
                            ás
                            {{product.published.hour}}
                        </div>
                        <div class="actions">
                        <a href="/products/{{product.id}}" >Ver </a>
                        <a href="/products/{{product.id}}/edit" >Editar</a>

                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

    </section>
{% endblock content %}